@import url(base.css);

.container{
    width: 100%;
    height: 85vh;
}

.emojiStyle {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
    animation: fall-fade 7s forwards;
  }
  @keyframes fall-fade {
      0%{
          transform: translateY(0);
          opacity: 1;
      }
      70%{
          transform: translateY(30vh);
          opacity: 0;
      }
      100%{
          transform:translateY(10vh);
          opacity: 0;
          display: none;
      }
  }
.product-card-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 70%;
    filter: 
        drop-shadow(0 2.8px 2.2px rgba(0, 0, 0, 0.034))
        drop-shadow(0 6.7px 5.3px rgba(0, 0, 0, 0.048))
        drop-shadow(0 12.5px 10px rgba(0, 0, 0, 0.06))
        drop-shadow(0 22.3px 17.9px rgba(0, 0, 0, 0.072))
        drop-shadow(0 41.8px 33.4px rgba(0, 0, 0, 0.086))
        drop-shadow(0 100px 80px rgba(0, 0, 0, 0.12))
    ;
    position: relative;
    z-index: 2;
    text-align: center;
}
.product-card-model{
    width: 100%;
    height: 40vh;
    border: 3px solid white;
    z-index: 6;
    display: flex;
    align-items: center;
    position: relative;
}
.product-card-model .garage-door{
    background-image: url(../img/garage-door-dark.png);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-position-y 2s ease;
    z-index: 10;
}
.garage-door.loaded{
    animation: garage-slide-up 2s ease forwards;
}
@keyframes garage-slide-up {
    99%{
        background-position-y: 250%;
    }
    100%{
        background-position-y: 250%;
        display: none;
        visibility: hidden;
    }
}
.product-card-info{
    border: 3px solid white;
    background-color: var(--main-bkg-color);
    transform: translateX(7%);
    transition: transform .5s ease;
    position: absolute;
    right: 0;
    border-radius: 0px 10px 10px 0px;
    padding: 1em;
}
.product-card-wrapper:hover .product-card-info{
    transform: translateX(95%);
}
.product-card{
    display: flex;
    align-items: center;
    flex-direction: row;
    row-gap: 1em;
    background-color: var(--main-bkg-color);
    z-index: 5;
    border-radius: 20px;
}
@media (max-width: 700px) {
    .product-card{
        width: 80%;
    }
}
.share-link-wrapper{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;

}
.share-link{
    user-select: none;
    margin: .5em;
    padding: 5px 8px 8px;
    border-radius: 15px;
    color: rgb(197, 197, 197);
    background: rgba(63, 63, 63, 0.5);
    text-decoration: none;
    display: flex;
    font-size: 1em;
    font-weight: 800;
    column-gap: .3em;
    align-items: baseline;
    position: relative;
    /*overflow: hidden;
    background: linear-gradient(70deg, var(--main-green), var(--main-green) 50%, gray 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;*/
}
.share-link:hover{
    background-position: 0 100%;
}
.share-link h3{
    margin: 0;
}

model-viewer::part(default-progress-mask) {
    display: none;
  }
model-viewer {
    --poster-color: transparent;
}
.product-card-model model-viewer{
    max-width: 100%;
    width: 100%;
    height: 40vh;
    background-image: url(../img/garage2.jpeg);
    background-position: center;
    position: relative;
    z-index: 5;
    background-size: cover;
}
.progress-bar {
display: block;
width: 33%;
height: 10%;
max-height: 2%;
position: absolute;
left: 50%;
top: 50%;
transform: translate3d(-50%, -50%, 0);
border-radius: 25px;
box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
border: 1px solid rgba(255, 255, 255, 0.9);
background-color: rgba(0, 0, 0, 0.5);
z-index: 1000;
position: absolute;
}

.progress-bar.hide {
visibility: hidden;
transition: visibility 0.3s;
}

.update-bar {
background-color: rgba(255, 255, 255, 0.9);
width: 0%;
height: 100%;
border-radius: 25px;
float: left;
transition: width 0.3s;
}

.asset-info{
    padding: .3em;
    text-align: left;
}
.assetImage{
    max-width: 100%;
    border-radius: 5px;
    padding: 1em;
    user-select: none;
}

.owner-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0em;
    flex-direction: column;
}
.owner-info a{
    display: flex;
    flex-direction: row;
    column-gap: .5em;
    text-decoration: none;
    align-items: center;
}
.asset-info p{
    color: gray;
    margin: 0;
    font-size: 13px;
}
@media (max-width: 400px) {
    .owner-info{
        align-items: flex-start;
        flex-direction: column;
    }
}
.profileImage{
    max-width: 3rem;
    height: 3rem;
    border-radius: 100%;
}
.owner-info h2{
    margin: 0;
    color: rgba(0, 0, 0, 0.904);
}

@media (max-width: 500px) {
    .product-card-info{
        bottom: -50%;
        width: -webkit-fill-available;
        left: 0;
        transform: translate(0);
        border-radius: 0px 0px 10px 10px;
    }
    .product-card-wrapper:hover .product-card-info{
        transform: translateX(0);
    }
    
}