@import url(base.css);

.form-wrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
}

fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1em 4em 1em 4em;
    padding: none;
}
form {
    min-width: 50%;
    border: rgba(14, 128, 119, 0.507) 5px solid;
    background-color: white;
    transition: .3s cubic-bezier(0.09, -1.13, 0.22, 2.37);
    border-radius: 10px;
}
form:focus-within{
    box-shadow: 5px 7px 6px rgba(7, 71, 66, 0.507);
}

.login-signup-split{
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.tab{
    position: relative;
    text-decoration: none;
    color: var(--main-green);
    padding: 1em;
    width: 100%;
    transition: .3s ease;
    border-bottom: #fae7ea;
}
.tab-left{
    border-radius: 5px 0 0 0;
    order: 1;
}
.tab-right{
    border-radius: 0px 5px 0 0;
    order: 2;
}
.active-left, .active-right{
    background-color: var(--main-green);
    color: var(--main-bkg-color);
    user-select: none;
}
.active-left::after,
.active-right::after{
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    border-bottom: 3px darkslategrey solid;
    transition: 1s cubic-bezier(0.17, 0.82, 0, 1.02);
}

.link:hover{
    background-color: var(--main-bkg-color);
}
.tab:hover + .active-left::after{
    /*animation: fromleft 1s both;
    animation-timing-function: cubic-bezier(0.57, 1.22, 0.51, 0.97);*/
    right: -100%;
    left: 100%;
}
@keyframes fromleft {
    0%{
        right: 0;
        left: 0;
        width: 100%;
    }
    75%{
        width: 200%;
        left: 0;
    }
    100%{
        right: -100%;
        left: 100%;
        width: 100%;
    }
}
.tab:hover + .active-right::after{
    right: 100%;
    left: -100%;
}


.form-field {
    font-weight: bold;
}

label {
    /*margin: -15px;*/
    font-weight: bold;
}
.split-firstlast{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1em;
}
.split-firstlast fieldset{
    width: 50%;
    margin-bottom: 0;
}
.first{
    margin-right: 1em;
}
.left{
    margin-left: 1em;
}

input[type=text], input[type=password],
textarea{
    border: none;
    border-bottom: 3px solid rgb(14, 128, 118);
    width: 100%;
    height: 2em;
    padding: .25em;
    transition: .1s;
}
input[type=text]:focus, input[type=password]:focus,
textarea:focus{
    background-color: var(--main-bkg-color);
    outline: none;
    border-radius: 2px;
}
textarea{
    height: 10em;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type=button], input[type=submit]{
    margin: 1em 2em;
    background-color: rgb(14, 128, 118);
    border: none;
    color: whitesmoke;
    font-weight: bold;
    padding: 1em 3em;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    transition: .2s ease;
}
input[type=button]:hover, 
input[type=submit]:hover{
    transform: scale(1.05);
    box-shadow:
    -1px -5px 2.2px rgb(0 0 0 / 3%),
     0 6.7px 5.3px rgb(0 0 0 / 5%), 
     0 12.5px 10px rgb(0 0 0 / 6%), 
     0px 12px 17.9px rgb(0 0 0 / 7%), 
     0px 12px 33.4px rgb(0 0 0 / 9%), 
     0px 16px 80px rgb(0 0 0 / 12%); 
}
input[type=button]:focus, 
input[type=submit]:focus{
    transform: scale(1);
    box-shadow: 
    -1px -5px 2.2px rgb(0 0 0 / 3%) inset,
     0 6.7px 5.3px rgb(0 0 0 / 5%) inset, 
     0 12.5px 10px rgb(0 0 0 / 6%) inset, 
     0px 12px 17.9px rgb(0 0 0 / 7%) inset, 
     0px 12px 33.4px rgb(0 0 0 / 9%) inset, 
     0px 16px 80px rgb(0 0 0 / 12%) inset; 
}
.ui-datepicker-header{
    background: var(--main-green);
    border: none;
}
.alternative-option{
    margin: 5px;

}
.alternative-option a{
    text-decoration: none;
    font-weight: bold;
    color: var(--main-green);
    display: inline-block;
}
.alternative-option a::after {
    display: block;
    content: '';
    border-bottom: 3px solid rgb(7, 63, 58);
    transform: scaleX(0);
    transition: transform 400ms ease-in-out;
    transform-origin: 0% 50%;
}
.alternative-option a:hover::after{
    transform: scaleX(1)
}

/*ERROR STYLES*/
.errors {
    list-style: none;
    font-size: .8em;
    text-align: left;
    width: -webkit-fill-available;
    width: -moz-available;
    background: #fae7ea;
    padding: 9px 15px;
    border-radius: 0 0 3px 3px;
    border-top: 0;
    border: 1px solid #e1c5c5;
    color: #8d7575;
    height: fit-content;
}
.error {
    margin-bottom: 5px;
}
  
.error:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 800px) {
    fieldset{
        margin-right: 1em;
        margin-left: 1em;
    }
    form{
        min-width: 60%;
    }
}