
:root{
    --bkg-color: #DBECEB;

}
.split-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left{
    width: 40%;
    justify-content: flex-end;
}
.email-icon i {
    font-size: 30vw;
    color: rgba(14, 128, 119, 0.507);
}

.right{
    width:40%;
    justify-content: left;
}

.right, .left {
    justify-content: center;
    align-items: center;
    display: flex;
}

.form-wrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
}

fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1em;
    padding: none;
}
form {
    min-width: 90%;
    border: rgba(14, 128, 119, 0.507) 3px solid;
    background-color: white;
    transition: .3s cubic-bezier(0.09, -1.13, 0.22, 2.37);
    border-radius: 7px;
}
form:focus-within{
    box-shadow: 5px 7px 6px rgba(14, 128, 119, 0.507);
}

.form-field {
    font-weight: bold;
}

label {
    /*margin: -15px;*/
}

input[type=text],
textarea{
    border: none;
    border-bottom: 3px solid rgb(14, 128, 118);
    width: 100%;
    height: 2em;
    padding: .25em;
    transition: .1s;
}
input[type=text]:focus,
textarea:focus{
    background-color: var(--bkg-color);
    outline: none;
    border-radius: 2px;
}
textarea{
    height: 10em;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type=button], input[type=submit]{
    margin: 1em 2em;
    background-color: rgb(14, 128, 118);
    border: none;
    color: whitesmoke;
    font-weight: bold;
    padding: 1em 3em;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    transition: .2s ease;
    display: inline-block;
}
input[type=button]:hover, 
input[type=submit]:hover{
    transform: scale(1.05);
    box-shadow:
    -1px -5px 2.2px rgb(0 0 0 / 3%),
     0 6.7px 5.3px rgb(0 0 0 / 5%), 
     0 12.5px 10px rgb(0 0 0 / 6%), 
     0px 12px 17.9px rgb(0 0 0 / 7%), 
     0px 12px 33.4px rgb(0 0 0 / 9%), 
     0px 16px 80px rgb(0 0 0 / 12%); 
}
input[type=button]:focus, 
input[type=submit]:focus{
    transform: scale(1);
    box-shadow: 
    -1px -5px 2.2px rgb(0 0 0 / 3%) inset,
     0 6.7px 5.3px rgb(0 0 0 / 5%) inset, 
     0 12.5px 10px rgb(0 0 0 / 6%) inset, 
     0px 12px 17.9px rgb(0 0 0 / 7%) inset, 
     0px 12px 33.4px rgb(0 0 0 / 9%) inset, 
     0px 16px 80px rgb(0 0 0 / 12%) inset; 
}

/*STYLE THIS*/
.errors {
    list-style: none;
    font-size: .8em;
    text-align: left;
    width: -webkit-fill-available;
    width: -moz-available;
    background: #fae7ea;
    padding: 9px 15px;
    border-radius: 0 0 3px 3px;
    border-top: 0;
    border: 1px solid #e1c5c5;
    color: #8d7575;
    height: fit-content;
}
.error {
    margin-bottom: 5px;
  }
  
  .error:last-of-type {
    margin-bottom: 0;
  }

  @media screen and (max-width: 600px) {
      .left{
          width: 0;
          display: none;
      }
      .right{
          width: 75%;
      }
      form{
          width: 100%;
      }
      .centered-intro h1{
          margin-bottom: 0;
      }
      .centered-intro p{
          width: 80%;
      }
      .split-page{
          margin-bottom: 3em;
      }

  }