@import url(base.css);
nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: row;
    padding: 1em 2em;
    max-height: 3em;
    z-index: 5;
    background-color: var(--main-bkg-color);
    user-select: none;
}

nav img {
    max-height: 5em;
    max-width: 5em;
    object-fit: contain;
}

.active_page{
    color: rgb(14, 128, 118);
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: .5em;
}
.active_page::after {
    display: block;
    content: '';
    border-bottom: 3px solid rgb(27, 221, 205);
}
.active_page:active::before{
    position: fixed;
    align-items: center;
    top: 1;
    transform: translateY(25px);
    background-color: var(--main-bkg-color);
    content: 'You are on this page';
}
.link-container{
    display: flex;
    align-items: center;
}

.navbar-link {
    color: var(--main-green);
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: .5em;
}

.navbar-link::after {
    display: block;
    content: '';
    border-bottom: 3px solid rgb(7, 63, 58);
    transform: scaleX(0);
    transition: transform 400ms ease-in-out;
    transform-origin: 0% 50%;
}
.navbar-link:hover::after{
    transform: scaleX(1)
}