@import url(base.css);
nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1.5em 3.5em;
    max-height: 3em;
    z-index: 5;
    background-color: var(--main-bkg-color);
    user-select: none;
}

nav img {
    max-height: 5em;
    max-width: 5em;
    object-fit: contain;
    pointer-events: none;
}
nav h1{
    margin: 0
}

.active_page{
    color: rgb(14, 128, 118);
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: .5em;
}
.active_page::after {
    display: block;
    content: '';
    border-bottom: 3px solid rgb(27, 221, 205);
}
.active_page::before{
    transition: .3s ease;
}
.active_page:active::before{
    position: absolute;
    align-items: center;
    top: 1;
    transform: translateY(125%);
    background-color: #00000087;
    color: white;
    content: 'You are on this page';
    margin-top: 5px;
    border-radius: 2px;
    padding: 0px 5px;
}
.link-container{
    display: flex;
    align-items: center;
    letter-spacing: .3px;
}

.navbar-link {
    color: var(--main-green);
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: .5em;
}

.navbar-link::after {
    display: block;
    content: '';
    border-bottom: 3px solid rgb(7, 63, 58);
    transform: scaleX(0);
    transition: transform 400ms ease-in-out;
    transform-origin: 0% 50%;
}
.navbar-link:hover::after{
    transform: scaleX(1)
}
.navbar-btn{
    color: var(--main-green);
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin: 0 .25em;
    padding: 2px 10px;
    border-radius: 20px;
    border: 3px solid var(--main-green);
    transition: .3s ease;
    padding-bottom: 3px;
    z-index: 2;
}
.navbar-btn.signupBtn,
.active_btn{
    background-color: var(--main-green);
    color: white;
}
.navbar-btn:hover{
    transform: scale(1.03);
    box-shadow:
    -1px -5px 2.2px rgb(0 0 0 / 3%),
     0 6.7px 5.3px rgb(0 0 0 / 5%), 
     0 12.5px 10px rgb(0 0 0 / 6%), 
     0px 12px 17.9px rgb(0 0 0 / 7%), 
     0px 12px 33.4px rgb(0 0 0 / 9%), 
     0px 16px 80px rgb(0 0 0 / 12%);

}

/*.active_btn::after{
    content: '';
    position:absolute;
    z-index: -1;

}
.active_btn:hover::after{
    content: 'You are currently on this page';
    bottom: 0;
    text-shadow: 10px 0px black;
}*/