@import url(base.css);

:root{
    --profile-pic-width: 150px;
}

.profile-info-wrapper{
    margin: 3% 20% 0% 20% ;
    padding-bottom: 3%;
    border-bottom: 1px solid var(--main-green);
}
.profile-info{
    display: grid;
    grid-template-columns: var(--profile-pic-width) auto;    
    grid-auto-flow: column;
    column-gap: 2em;
    width: 100%;
    align-items: center;
}
.profile-img{
    max-width: var(--profile-pic-width);
    height: var(--profile-pic-width);
    object-fit: cover;
    border-radius: 100%;
    grid-column: 1;
    border: 2px solid rgba(255, 255, 255, 0.37);
    pointer-events: none;
}
.profile-name{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: .5px;
}
.profile-info-body{
    grid-column: 2/3;
}

#openEditForm{
    color: var(--main-green);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rbg(0,0,0);
    background-color: rgba(0, 0, 0, .4);
}
.modal-content {
    position: relative;
    background-color: var(--main-bkg-color);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: modalSlideIn;
    animation-duration: 0.4s;
}
@keyframes modalSlideIn {
    from {top: -300px; opacity: 0;}
    to {top:0; opacity: 1;}
}
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-wrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
}
fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1em 4em 1em 4em;
    padding: none;
}
form {
    width: 100%;
}
.form-field {
    font-weight: bold;
}
input[type=text], input[type=password],
textarea{
    border: none;
    border-bottom: 3px solid rgb(14, 128, 118);
    background-color: var(--main-bkg-color);
    border-radius: 2px 2px 0px 0px;
    width: 100%;
    height: 2em;
    padding: .25em;
    transition: .2s;
}
input[type=text]:focus, input[type=password]:focus,
textarea:focus{
    background-color: rgb(195, 236, 234);
    outline: none;
    border-radius: 2px;
}
textarea{
    height: 10em;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type=button], input[type=submit]{
    margin: 1em 4em;
    background-color: rgb(14, 128, 118);
    border: none;
    color: whitesmoke;
    font-weight: bold;
    padding: 1em 3em;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    transition: .2s ease;
}
input[type=button]:hover, 
input[type=submit]:hover{
    box-shadow: inset 0 0 10px white;
}



@media screen and (max-width: 800px) {
    .profile-info-wrapper{
        margin: 3% 15% 0% 15% ;
    }
    .modal-content {
        margin: 15% auto;
        width: 60%;

    }
}


.errors {
    list-style: none;
    font-size: .8em;
    text-align: left;
    width: -webkit-fill-available;
    width: -moz-available;
    background: #fae7ea;
    padding: 9px 15px;
    border-radius: 0 0 3px 3px;
    border-top: 0;
    border: 1px solid #e1c5c5;
    color: #8d7575;
    height: fit-content;
}
.error {
    margin-bottom: 5px;
}
  
.error:last-of-type {
    margin-bottom: 0;
}
