@import url(base.css);

:root{
    --profile-pic-width: 150px;
}

.profile-info-wrapper{
    margin: 3% 20% 0% 20% ;
    padding-bottom: 3%;
    border-bottom: 1px solid var(--main-green);
}
.profile-info{
    display: flex;
    flex-direction: row;
    grid-template-columns: var(--profile-pic-width) auto;    
    grid-auto-flow: column;
    column-gap: 2em;
    width: 100%;
    align-items: center;
}
@media (max-width: 800px) {
    .profile-info{
        flex-wrap: wrap;
    }
}
.profile-img{
    max-width: var(--profile-pic-width);
    height: var(--profile-pic-width);
    object-fit: cover;
    border-radius: 100%;
    grid-column: 1;
    border: 2px solid rgba(255, 255, 255, 0.37);
    pointer-events: none;
    user-select: none;
}
.profile-name{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: .5px;
}
.profile-info-body{
    grid-column: 2/3;
}

#openEditFormIcon{
    color: var(--main-green);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.picture-container{
    position: relative
}
#openEditFormPicture{
    pointer-events: all;
    cursor: pointer;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.overlay-wrapper{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.picture-container:hover img {
    opacity: .3;
}
.picture-container:hover .overlay-wrapper{
    opacity: 1;
}
.overlay-text{
    color: black;
    font-size: 16px;
    cursor: pointer;
}



.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rbg(0,0,0);
    background-color: rgba(0, 0, 0, .4);
    
}
.modal-content {
    position: relative;
    background-color: var(--main-bkg-color);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: modalSlideIn;
    animation-duration: 0.4s;
}
@keyframes modalSlideIn {
    from {top: -300px; opacity: 0;}
    to {top:0; opacity: 1;}
}
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.navbar-btn{
    color: var(--main-green);
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin: 0 .25em;
    padding: 2px 10px;
    border-radius: 20px;
    border: 3px solid var(--main-green);
    transition: .3s ease;
    padding-bottom: 3px;
}

#wallet-connect-btn{
    color: var(--main-green);
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    margin: 0 0.25em;
    padding: 2px 10px;
    border-radius: 20px;
    border: 3px solid #FF686B;
    transition: 300ms ease-in-out;
    padding-bottom: 3px;
    top: 0;
    transform: translateY(-5px);
    background-image: linear-gradient(45deg, #FF686B 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    background-color: white;
    cursor: pointer;
    user-select: none;
}

#wallet-connect-btn:hover{
    transform: translateY(-5px);
    background-position: 0;
    color: white;
    box-shadow:
    -1px -5px 2.2px rgb(0 0 0 / 3%),
     0 6.7px 5.3px rgb(0 0 0 / 5%), 
     0 12.5px 10px rgb(0 0 0 / 6%), 
     0px 12px 17.9px rgb(0 0 0 / 7%), 
     0px 12px 33.4px rgb(0 0 0 / 9%), 
     0px 16px 80px rgb(0 0 0 / 12%);
}

.form-wrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
}
fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1em 4em 1em 4em;
    padding: none;
}
form {
    width: 100%;
}
.form-field {
    font-weight: bold;
}
input[type="file" i]{
    margin-top: 10px;
}
input[type=text], input[type=password],
textarea{
    border: none;
    border-bottom: 3px solid rgb(14, 128, 118);
    background-color: var(--main-bkg-color);
    border-radius: 2px 2px 0px 0px;
    width: 100%;
    height: 2em;
    padding: .25em;
    transition: .2s;
}
input[type=text]:focus, input[type=password]:focus,
textarea:focus{
    background-color: rgb(195, 236, 234);
    outline: none;
    border-radius: 2px;
}
textarea{
    height: 10em;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type=button], input[type=submit]{
    margin: 1em 4em;
    background-color: rgb(14, 128, 118);
    border: none;
    color: whitesmoke;
    font-weight: bold;
    padding: 1em 3em;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    transition: .4s ease;
}
input[type=button]:hover, 
input[type=submit]:hover{
    transform: scale(1.05);
    box-shadow:
    -1px -5px 2.2px rgb(0 0 0 / 3%),
     0 6.7px 5.3px rgb(0 0 0 / 5%), 
     0 12.5px 10px rgb(0 0 0 / 6%), 
     0px 12px 17.9px rgb(0 0 0 / 7%), 
     0px 12px 33.4px rgb(0 0 0 / 9%), 
     0px 16px 80px rgb(0 0 0 / 12%); 
}
input[type=button]:focus, 
input[type=submit]:focus{
    transform: scale(1);
    box-shadow: 
    -1px -5px 2.2px rgb(0 0 0 / 3%) inset,
     0 6.7px 5.3px rgb(0 0 0 / 5%) inset, 
     0 12.5px 10px rgb(0 0 0 / 6%) inset, 
     0px 12px 17.9px rgb(0 0 0 / 7%) inset, 
     0px 12px 33.4px rgb(0 0 0 / 9%) inset, 
     0px 16px 80px rgb(0 0 0 / 12%) inset; 
}



@media screen and (max-width: 800px) {
    .profile-info-wrapper{
        margin: 3% 15% 0% 15% ;
    }
    .modal-content {
        margin: 15% auto;
        width: 60%;

    }
}


.errors {
    list-style: none;
    font-size: .8em;
    text-align: left;
    width: -webkit-fill-available;
    width: -moz-available;
    background: #fae7ea;
    padding: 9px 15px;
    border-radius: 0 0 3px 3px;
    border-top: 0;
    border: 1px solid #e1c5c5;
    color: #8d7575;
    height: fit-content;
}
.error {
    margin-bottom: 5px;
}
  
.error:last-of-type {
    margin-bottom: 0;
}
