@import url(base.css);
@import url(asset-card-wrapper.css);

:root{
    --profile-pic-width: 150px;
}
body{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.profile-info-wrapper{
    margin: 3% 20% 0% 20% ;
    padding-bottom: 3%;
    border-bottom: 1px solid var(--main-green);
}
.profile-info{
    display: flex;
    flex-direction: row;
    grid-template-columns: var(--profile-pic-width) auto;    
    grid-auto-flow: column;
    column-gap: 2em;
    width: 100%;
    align-items: center;
}
@media (max-width: 800px) {
    .profile-info{
        flex-wrap: wrap;
    }
}
.profile-img{
    max-width: var(--profile-pic-width);
    height: var(--profile-pic-width);
    object-fit: cover;
    border-radius: 100%;
    grid-column: 1;
    border: 2px solid rgba(255, 255, 255, 0.37);
    pointer-events: none;
    user-select: none;
}
.profile-name{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: .5px;
}
.profile-info-body{
    grid-column: 2/3;
}

#openEditFormIcon{
    color: var(--main-green);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.picture-container{
    position: relative
}
#openEditFormPicture{
    pointer-events: all;
    cursor: pointer;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.overlay-wrapper{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.picture-container:hover img {
    opacity: .3;
}
.picture-container:hover .overlay-wrapper{
    opacity: 1;
}
.overlay-text{
    color: black;
    font-size: 16px;
    cursor: pointer;
}



.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rbg(0,0,0);
    background-color: rgba(0, 0, 0, .4);
    
}
.modal-content {
    position: relative;
    background-color: var(--main-bkg-color);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: modalSlideIn;
    animation-duration: 0.4s;
}
@keyframes modalSlideIn {
    from {top: -300px; opacity: 0;}
    to {top:0; opacity: 1;}
}
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.navbar-btn{
    color: var(--main-green);
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin: 0 .25em;
    padding: 2px 10px;
    border-radius: 20px;
    border: 3px solid var(--main-green);
    transition: .3s ease;
    padding-bottom: 3px;
}

#wallet-connect-btn{
    color: var(--main-green);
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    margin: 0 0.25em;
    padding: 2px 10px;
    border-radius: 20px;
    border: 3px solid var(--main-green);
    transition: 300ms ease-in-out;
    padding-bottom: 3px;
    top: 0;
    transform: translateY(-5px);
    background-image: linear-gradient(45deg, var(--main-green) 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    background-color: var(--main-bkg-color);
    cursor: pointer;
    user-select: none;
}

#wallet-connect-btn:hover{
    transform: translateY(-5px);
    background-position: 0;
    color: white;
    box-shadow:
    -1px -5px 2.2px rgb(0 0 0 / 3%),
     0 6.7px 5.3px rgb(0 0 0 / 5%), 
     0 12.5px 10px rgb(0 0 0 / 6%), 
     0px 12px 17.9px rgb(0 0 0 / 7%), 
     0px 12px 33.4px rgb(0 0 0 / 9%), 
     0px 16px 80px rgb(0 0 0 / 12%);
}

.form-wrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
}
fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1em 4em 1em 4em;
    padding: none;
}
form {
    width: 100%;
}
.form-field {
    font-weight: bold;
}
input[type="file" i]{
    margin-top: 10px;
}
input[type=text], input[type=password],
textarea{
    border: none;
    border-bottom: 3px solid rgb(14, 128, 118);
    background-color: var(--main-bkg-color);
    border-radius: 2px 2px 0px 0px;
    width: 100%;
    height: 2em;
    padding: .25em;
    transition: .2s;
}
input[type=text]:focus, input[type=password]:focus,
textarea:focus{
    background-color: rgb(195, 236, 234);
    outline: none;
    border-radius: 2px;
}
textarea{
    height: 10em;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-wrapper input[type=button], .form-wrapper input[type=submit]{
    margin: 1em 4em;
    background-color: rgb(14, 128, 118);
    border: none;
    color: whitesmoke;
    font-weight: bold;
    padding: 1em 3em;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    transition: .4s ease;
}
.form-wrapper input[type=button]:hover, 
.form-wrapper input[type=submit]:hover{
    transform: scale(1.05);
    box-shadow:
    -1px -5px 2.2px rgb(0 0 0 / 3%),
     0 6.7px 5.3px rgb(0 0 0 / 5%), 
     0 12.5px 10px rgb(0 0 0 / 6%), 
     0px 12px 17.9px rgb(0 0 0 / 7%), 
     0px 12px 33.4px rgb(0 0 0 / 9%), 
     0px 16px 80px rgb(0 0 0 / 12%); 
}
.form-wrapper input[type=button]:focus, 
.form-wrapper input[type=submit]:focus{
    transform: scale(1);
    box-shadow: 
    -1px -5px 2.2px rgb(0 0 0 / 3%) inset,
     0 6.7px 5.3px rgb(0 0 0 / 5%) inset, 
     0 12.5px 10px rgb(0 0 0 / 6%) inset, 
     0px 12px 17.9px rgb(0 0 0 / 7%) inset, 
     0px 12px 33.4px rgb(0 0 0 / 9%) inset, 
     0px 16px 80px rgb(0 0 0 / 12%) inset; 
}



@media screen and (max-width: 800px) {
    .profile-info-wrapper{
        margin: 3% 15% 0% 15% ;
    }
    .modal-content {
        margin: 15% auto;
        width: 60%;

    }
}


.errors {
    list-style: none;
    font-size: .8em;
    text-align: left;
    width: -webkit-fill-available;
    width: -moz-available;
    background: #fae7ea;
    padding: 9px 15px;
    border-radius: 0 0 3px 3px;
    border-top: 0;
    border: 1px solid #e1c5c5;
    color: #8d7575;
    height: fit-content;
}
.error {
    margin-bottom: 5px;
}
  
.error:last-of-type {
    margin-bottom: 0;
}


.asset-card-wrapper{
    margin: 0 4em;
}
@media (max-width: 500px) {
    .assets{
        grid-template-columns: repeat(1, 1fr);
    }
    .asset-card-wrapper {
      margin: 0 !important;
    }
  }
.asset-item{
    border: 4px solid var(--main-green);
    border-radius: 10px;
}
.assets{
    grid-column-gap: .2em;
}
.add-item {
    margin: 1em;
    justify-content: center;
    display: flex;
    align-items: center;
    color: var(--main-green);
}
.add-item i{
    font: 900;
}
.card-header{
    width: 85%;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.card-wrapper.darken-card{
    opacity: .65;
}
.header-selecters{
    font-size: 1.5rem;
    align-items: center;
    display: flex;
    column-gap: 0.5em;
}

.asset-trash{
    transition: .2s linear;
}
.asset-trash:hover{
    color: red;
}

#trash-modal{
    border-radius: 5px;
}

#trash-modal-content{
    width: 75%;
    margin: 5% auto;
}
.trash-confirm-buttons{
    width: 100%;
    display: flex;
    column-gap: .5em;
}
.cancelDelete,
.confirmDelete{
    border-radius: 5px;
    padding: 3px 7px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.cancelDelete{
    background-color: var(--main-bkg-color);
    border: 3px solid var(--main-green);
    width: 60%;
    color: var(--main-green);
    transition: 300ms ease-in-out;
    background-image: linear-gradient(45deg, var(--main-green) 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    background-color: var(--main-bkg-color);
}
.cancelDelete:hover{
    background-position: 0;
    color: white;
}
.confirmDelete{
    background-color: red;
    border: 3px rgb(252, 65, 65);
    width: 40%;
    color: white;
    transition: 300ms ease-in-out;

}

.cancelDelete:hover,
.confirmDelete:hover{
    box-shadow:
    -1px -5px 2.2px rgb(0 0 0 / 3%),
     0 6.7px 5.3px rgb(0 0 0 / 5%), 
     0 12.5px 10px rgb(0 0 0 / 6%), 
     0px 12px 17.9px rgb(0 0 0 / 7%), 
     0px 12px 33.4px rgb(0 0 0 / 9%), 
     0px 16px 80px rgb(0 0 0 / 12%);

}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 4em;
    height: 30px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10px;
  }
  
  .slider:before {
    position: absolute;
    font-size: .75em;
    content: "Hide";
    font-weight: bold;
    height: 100%;
    width: 60%;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    
    transition: .4s ease;
  }
  
  input:checked + .slider {
  }
  input:checked + .slider::before{
  }
  
  input:focus + .slider {
  }
  
  input:checked + .slider:before {
    transform: translateX(68%);
    background-color: var(--main-green);
    content: 'Show';
    color: white;
  }
.add-item-btn{
    height: 100%;
    width: 100%;
}

.emoji-road-wrapper{
    position: relative;
    
    /*
    LIT CURSOR on HOVER
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🚗 </text></svg>")
    16 0,
    auto;*/
}
.emoji-road-wrapper span{
    display: none;
    z-index: 10;
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.emoji-road-wrapper:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
}

.road-svg-container{
    width: 100%;
    bottom: 0;
    background-color: #535252;
    position: relative;
}
.road-boarder-container{
    transform: translateY(5px);
}
.emojiStyle{
    user-select: none;
}

.emojiStyle.fromRight{
    animation: fromRightToLeft 10s linear ;
}
@keyframes fromRightToLeft {
    to{
        right: 100%;
    }
}
.emojiStyle.fromLeft{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    animation: fromLeftToRight 10s linear ;
}
@keyframes fromLeftToRight {
    to{
        left: 100%;
    }
}
