{% extends 'layout.html' %}

{% block page_css %}
    <link href="{{ url_for('static', filename='css/assetpage.css') }}" rel="stylesheet">
{% endblock %}

{% block page_script %}
    <script>
        const container = document.querySelector(".container");
        let allEmojis = [
            "🏎",
            "🚗",
            "🚙",
            "🛻",
            "🚌",
            "🚕"
            ];
        let index = 1;

        container.addEventListener("click", (e) => {
            const box = document.createElement("div");
            box.classList.add("emojiStyle");
            box.innerHTML = allEmojis[randomInteger(0, allEmojis.length - 1)];
            box.style.fontSize = `40px`;
            box.style.position = "absolute";
            box.style.left = `${randomInteger(0, 90)}%`;
            box.style.top = `${randomInteger(0, 90)}%`;
            box.style.zIndex = index;
            container.appendChild(box);
            $(box).one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
                $(this).remove();
              });
        });

function randomInteger(min, max) {
  return Math.floor(Math.random() * (max - min + 1)) + min;
}

$('.share-link').on('click',function(){
    var dummy = document.createElement('input'),
    text = window.location.href;

    document.body.appendChild(dummy);
    dummy.value = text;
    dummy.select();
    document.execCommand('copy');
    document.body.removeChild(dummy);

    $(this).html("<h3>Copied to clipboard!<h3>");
    setTimeout(function(){
        $('.share-link').html("<h3>Share<h3><i class='fas fa-share-square'></i>");
    }, 2000)
})
    </script>
{% endblock %}

{% block pageContent %}
<div class="container">
<div class="product-card-wrapper">
    <div class="product-card">
        <div class="share-link-wrapper">
            <a class="share-link" href="#"><h3>Share</h3><i class="fas fa-share-square"></i></a>
        </div>
        <img class="assetImage" src="../static/img/cartoon-car.png" alt="Asset Image">
        <div class="owner-info" >
            <a href="{{ url_for('profile', username= ownerUsername) }}">
                <img class="profileImage"src="{{ ownerProfilePicture }}" alt="Profile Picture of NFT Owner">
                <h2>@{{ ownerUsername }}</h2>
            </a>
            <p>
                created: {{ targetAsset.date_created }}
            </p>
        </div>
        <h1>{{ targetAsset.name }}</h1>
        
    </div>
</div>
</div>

{% endblock %}


