{% extends 'layout.html' %}
{% block page_css %}
    <link href="{{ url_for('static', filename='css/homepage.css') }}" rel="stylesheet">
{% endblock %}

{% block page_script %} 
<!--<script type="module" src="{{ url_for('static', filename='scripts/homepage.js') }}"></script>-->
<!--<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>-->
<script type="module" src="{{ url_for('static', filename='scripts/homepage.js') }}"></script>
{% endblock %}


{% block pageContent %}
<div class="homepage-wrapper">

    <canvas id="gradient-canvas"></canvas>       

    <div class="landing-split-container">
        <div class="column left">
            <h2>{{title}}</h2>
            <h1>Virtual hub for automobile NFT's</h1>
            <p>{{description}}</p>
            <div class="landing-button-wrapper">
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('profile', username=current_user.username) }}"><button type="button" class="enter-garage-btn">Enter garage</button></a>
                {% else %}
                <a href="{{ url_for('auth_bp.login') }}"><button type="button" class="enter-garage-btn">Enter garage</button></a>
                {% endif %}
                <a href="{{ url_for('auth_bp.signup') }}"><button type="button" class="join-btn">Join now</button></a>


            </div>
        </div>
    
        <div class="column right">
            <div class="nft-prototype-card-wrapper">
                {% for nft in nft_examples %}
                    <div class="nft-prototype-card" id="product-card{{x}}">
                        <div class="nft-prototype-card-content">
                            <div class="asset-group-info">
                                <p>MDG</p>
                                <p><code>{{ nft.id }}</code></p>
                            </div>
                            <div class="share-link-wrapper">
                                <a class="share-link"><h3>Share</h3><i class="fas fa-share-square"></i></a>
                            </div>                        
                            <img class="nft-example" src="{{ url_for('static',filename='img/nft-example-imgs/' + nft.img )}}" alt="Example NFT">
                            <div class="asset-info">

                                <div class="owner-info" >
                                    <a>
                                        <img class="profileImage"src="../static/img/profile-images/default.jpg" alt="Profile Picture of NFT Owner">
                                        <h2>@{{ nft.owner }}</h2>
                                    </a>
                                    <p>
                                        created: {{ nft.date }}
                                    </p>
                                </div>
                                    <h1>{{ nft.title }}</h1>
                                    <h3 class="price">{{ range(0,4) | random }}.{{ range(0,10) | random }}{{ range(0,10) | random }} <i class="fab fa-ethereum"></i></h3>
                            </div>
                        </div>
                        
                    </div>
                {% endfor %}
            </div>
            {#
            3D MODEL     
            <model-viewer 
            id="first"
            src="../static/assets/car_models/modelDatsun.glb" 
            camera-orbit="30deg 75deg 6m" 
            auto-rotate 
            alt="Car" 
            ar 
            ios-src="../static/assets/free_1972_datsun_240k_gt/scene.gltf">
                <div class="progress-bar" slot="progress-bar">
                    <div class="update-bar"></div>
                </div>
            </model-viewer>#}
        </div>
    
    </div>
    <div class="partner-badges-wrapper">
        <div class="block">
            <div class="animation">
            <div class="first" >
                <div style="background-image: url(../static/img/car-company-logos/alfaromeo.png)"></div>
            </div>
            <div>
                <div style="background-image: url(../static/img/car-company-logos/astonmartin.png)"></div>
            </div>
            <div>
                <div style="background-image: url(../static/img/car-company-logos/audi.png)"></div>
            </div>
            <div>
              <div style="background-image: url(../static/img/car-company-logos/bmw.png)"></div>
            </div>
            <div>
              <div style="background-image: url(../static/img/car-company-logos/ferrari.png)"></div>
            </div>
            <div>
              <div style="background-image: url(../static/img/car-company-logos/lambo.png)"></div>
            </div>
            <div>
              <div style="background-image: url(../static/img/car-company-logos/maserati.png)"></div>
            </div>
            <div>
              <div style="background-image: url(../static/img/car-company-logos/mercedes.png)"></div>
            </div>
            <div>
                <div style="background-image: url(../static/img/car-company-logos/nissan-flat.png)"></div>
            </div>
            <div>
                <div style="background-image: url(../static/img/car-company-logos/porsche.png)"></div>
            </div>
            <div>
                <div style="background-image: url(../static/img/car-company-logos/tesla.png)"></div>
            </div>

              <!-- cut -->
            </div>
        </div>          
    </div>
    <div class="mdg-info-wrapper">
        <h2 class="show-on-scroll">
            Expand your garage in the digital world
        </h2>
        <p class="show-on-scroll">
            <strong>Your garage, your way</strong><br>
            Collect from our selection of car NFT's powering the future. Personalize your Digital Garage today!
        </p>
        <p class="show-on-scroll">
            <strong>All you need, here</strong><br>
            Digital Garage provides the tools for you to share, sell, buy, and explore, all contained within one site.
        </p>
        
    </div>
    
    <section class="svg-text-wrapper">
        <svg id="svg" xmlns="http://www.w3.org/2000/svg" viewBox="-300 0 950 270" >
            <path id="carPath"d="M-314,267 C105,364 400,100 812,279" id="path1" fill="none" stroke="#4AA099" stroke-width="120" stroke-linecap="round"/>
            <!-- <text width = "100%" style="transform: translate3d(0,0,0);">
                <textPath style="transform: translate3d(0,0,0);" alignment-baseline="bottom" xlink:href="#carPath" id="text-path">&#128663;</textPath>

            </text>-->
        </svg>
        <div class="asset-card-wrapper">
            <h2 style="text-align: center; font-size: 40px; color: white;">Our hottest auctions now</h2>
            <div class="assets">
                {% for asset in auctionAssets %}
                <div class="card-wrapper">
                    <div class="asset-item card is-loading">
                        <div class="front">
                            <h2>{{ asset.name }}</h2>
                            <img src="../static/img/cartoon-car.png">
                            <div class="card-info">
                                <p>Default Info</p>
                                <p id="date">{{ asset.date_created }}</p>
                            </div>
                        </div>
                        <div class="back">
                            <h3 style="text-align: center;">Like what you see?</h3>
                            <ul>
                                <li>Owner: @{{ asset.owner_username }}</li>
                                <li>Created: {{ asset.date_created}}</li>
                                <li>Posted: {{ asset.date_created }}</li>
                            </ul>
                            <a class="user-direct-btn" href="{{ url_for('asset_page', assetId=asset.id) }}">
                                <button type="button" class="slide">&nbsp;</button>
                            </a>
                        </div>  
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="divider1"></div>
    </section>
    <div class="stats-info-wrapper">
        <div class="stats-info-header">
            <h3 style="color: var(--main-green);">
                STATS
            </h3>
            <h1 style="font-size: 40px;">
                What's happening on Digital Garage?
            </h1>
            <p style="color: gray;">
                Our site offers a variety of services, providing a unique experience for everyone who navigates our Digital Garage Co.
            </p>
        </div>
        <div class="stats-columns-wrapper">
            <div class="stats-columns">
                <div class="column">
                    <h2>4,000</h2>
                    <h3>Active users</h3>
                </div>
                <div class="column">
                    <h2>10,000</h2>
                    <h3>Live auctions</h3>
                </div>
                <div class="column">
                    <h2>300 <i class="fab fa-ethereum"></i></h2>
                    <h3>ETH within Digital Garage</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="call-to-action-wrapper">
        <model-viewer 
        id="car-model"
        camera-orbit="calc(3.5rad + env(window-scroll-y) * 2rad) calc(45deg + env(window-scroll-y) * 40deg) calc(6m - env(window-scroll-y) * 1.5m)" 
        camera-target="auto auto auto"
        src="../static/assets/car_models/modelDatsun.glb" 
        alt="Porsche 911 Turbo Model">
        
            <div class="progress-bar" slot="progress-bar">
                <div class="update-bar"></div>
            </div>
        </model-viewer>
        <div class="call-to-action-text">
            <div class = "call-to-action">
                {% if current_user.is_authenticated %}
                    <h1>Welcome back {{ current_user.first }}</h1>
                    <p>Enter your garage to continue buying and selling NFT's, in your own Digital Garage!</p>
                    <a href="{{ url_for('profile', username=current_user.username) }}"><button type="button" class="btnFill">Enter</button></a>
                {% else %}
                    <h1>Join us!</h1>
                    <p>Start buying and selling NFT's, in your own Digital Garage!</p>
                    <a href="{{ url_for('auth_bp.signup') }}"><button type="button" class="btnFill">Sign Up</button></a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="disclaimer">
        <p>*all stats and brand association are hypothetical as this is merely a prototype application</p>
    </div>
    {% include 'footer.html' %}
</div>
{% endblock %}

