{% extends 'layout.html' %}
{% block page_css %}
    <link href="{{ url_for('static', filename='css/homepage.css') }}" rel="stylesheet">
{% endblock %}

{% block page_script %} 
<!--<script type="module" src="{{ url_for('static', filename='scripts/homepage.js') }}"></script>-->
<!--<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>-->
<script type="module" src="{{ url_for('static', filename='scripts/homepage.js') }}"></script>
{% endblock %}


{% block pageContent %}
    <div class="garage-door-loader" id="garage-door-loader">
        <p id="loading-txt" class="text"></p>
        <img id="loading-img" src="../static/img/garage-door-dark.png" alt="">
    </div>
    <div class="landing-split-container" style="background-image:url(../static/img/garage2.jpeg)">
        <div class="column left">
            <h1>{{title}}</h1>
            <p>{{description}}</p>
        </div>
    
        <div class="column right">
            <!-- 3D object-->
            <!--<model-viewer src="../static/assets/car_models/free_1975_porsche_911_930_turbo/scene.gltf" alt="Car" auto-rotate ar ios-src="../static/assets/car_models/free_1975_porsche_911_930_turbo/scene.gltf"></model-viewer>-->
            <model-viewer 
            id="first"
            src="../static/assets/car_models/modelDatsun.glb" 
            camera-orbit="30deg 75deg 6m" 
            auto-rotate 
            alt="Car" 
            ar 
            ios-src="../static/assets/free_1972_datsun_240k_gt/scene.gltf">
                <div class="progress-bar" slot="progress-bar">
                    <div class="update-bar"></div>
                </div>
            </model-viewer>
            <!--<canvas id="landing-car"></canvas>-->
        </div>
    
    </div>
    <div class="mdg-info-wrapper">
        <h2 class="inline-text show-on-scroll">
            Expand your garage, in the digital world
        </h2>
        <p>
            <strong>Your garage, your way</strong><br>
            Collect from our selection of car NFT's powering the future
        </p>
        <p>
            <strong>All you need, here</strong><br>
            Digital Garage provides the tools for you to share, create, sell, buy, and explore, all contained within one site.
        </p>
        
    </div>
    
    <section class="svg-text-wrapper">
        <svg id="svg" xmlns="http://www.w3.org/2000/svg" viewBox="-300 0 950 270" >
            <path id="carPath"d="M-314,267 C105,364 400,100 812,279" id="path1" fill="none" stroke="#4AA099" stroke-width="120" stroke-linecap="round"/>
            <!-- <text width = "100%" style="transform: translate3d(0,0,0);">
                <textPath style="transform: translate3d(0,0,0);" alignment-baseline="bottom" xlink:href="#carPath" id="text-path">&#128663;</textPath>

            </text>-->
        </svg>
        <div class="asset-card-wrapper">
            <h2 style="text-align: center; font-size: 40px; color: white;">Our hottest auctions now</h2>
            <div class="assets">
                {% for asset in auctionAssets %}
                <div class="card-wrapper">
                    <div class="asset-item card is-loading">
                        <div class="front">
                            <h2>{{ asset.name }}</h2>
                            <img src="../static/img/cartoon-car.png">
                            <div class="card-info">
                                <p>Default Info</p>
                                <p id="date">{{ asset.date_created }}</p>
                            </div>
                        </div>
                        <div class="back">
                            <h3 style="text-align: center;">Like what you see?</h3>
                            <ul>
                                <li>Owner: @{{ asset.owner_username }}</li>
                                <li>Created: {{ asset.date_created}}</li>
                                <li>Posted: {{ asset.date_created }}</li>
                            </ul>
                            <a class="user-direct-btn" href="{{ url_for('asset_page', assetId=asset.id) }}">
                                <button type="button" class="slide">&nbsp;</button>
                            </a>
                        </div>  
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="divider1"></div>
    </section>
    <div class="call-to-action-wrapper">
        <model-viewer 
        id="second"
        camera-orbit="calc(3.5rad + env(window-scroll-y) * 2rad) calc(50deg + env(window-scroll-y) * 40deg) calc(6m - env(window-scroll-y) * 1.5m)" 
        camera-target="auto auto 1m"
        src="../static/assets/car_models/free_1975_porsche_911_930_turbo/scene.gltf" 
        alt="Porsche 911 Turbo Model">
        
            <div class="progress-bar" slot="progress-bar">
                <div class="update-bar"></div>
            </div>
        </model-viewer>
        <div class="call-to-action-text">
            <div class = "call-to-action">
                {% if current_user.is_authenticated %}
                    <h1>Welcome back {{ current_user.first }}</h1>
                    <p>Enter your garage to continue buying and selling NFT's, in your own Digital Garage!</p>
                    <a href="{{ url_for('profile', username=current_user.username) }}"><button type="button" class="btnFill">Enter</button></a>
                {% else %}
                    <h1>Join us!</h1>
                    <p>Start buying and selling NFT's, in your own Digital Garage!</p>
                    <a href="{{ url_for('auth_bp.signup') }}"><button type="button" class="btnFill">Sign Up</button></a>
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}

