<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
</head>
<header>
    <nav>
        <!--<img src="../static/img/personaluniverselogo.png">-->
        <a href="{{ url_for('home') }}" style="text-decoration: none; color: rgba(0, 0, 0, 0.849)">
            <h1>MDG</h1>
        </a>

        <div class="link-container">
        {% for link in nav %}
            {% if request.path == link.url %}
                <p class="active_page" href="" style="cursor: pointer;"">{{ link.name }}</p>
            {% else %}
                <a class="navbar-link" href="{{ link.url }}">{{ link.name }}</a>
            {% endif %}
        {% endfor %}
        {% if current_user.is_authenticated %}
            {% if request.path == url_for('profile', username=current_user.username) %}
                <p class="navbar-btn active_btn" href="{{ url_for('profile', username=current_user.username) }}" style="cursor: pointer;">Your Garage</p>
            {% else %}
                <a class="navbar-btn" href="{{ url_for('profile', username=current_user.username) }}">Your Garage</a>
            {% endif %}
            <a class="navbar-btn" href='/logout'><i class="fas fa-sign-out-alt"></i></a>
        {% else %}
            <a class="navbar-btn loginBtn" href="{{ url_for('auth_bp.login') }}">Log In</a>
            <a class="navbar-btn signupBtn" href="{{ url_for('auth_bp.signup') }}">Get Started</a>
        {% endif %}
        </div>
    </nav>
</header>