<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <script>

        window.onload = function(){
            const hamburger = document.querySelector(".hamburger");
            const navMenu = document.querySelector(".link-container");
            const navBar = document.querySelector("nav") 

            hamburger.addEventListener("click", mobileMenu);

            function mobileMenu(){
                hamburger.classList.toggle("active")
                navMenu.classList.toggle("active")
                navBar.classList.toggle("active");
                //$("nav").css("background-color", "var(--main-bkg-color)");
            }
            const navLink = document.querySelectorAll(".navbar-link");

            navLink.forEach(n => n.addEventListener("click", closeMenu));

            function closeMenu() {
                hamburger.classList.remove("active");
                navMenu.classList.remove("active");
                navBar.classList.remove("active");
            }
        }

        const getHoverDirection = function (event) {
            var directions = ['navTop', 'navRight', 'navBottom', 'navLeft'];
            var item = event.currentTarget;
          
            // Width and height of current item
            var w = item.offsetWidth;
            var h = item.offsetHeight;
          
            // Calculate the x/y value of the pointer entering/exiting, relative to the center of the item.
            // Scale (sort of normalize) the coordinate on smallest side to the scale of the longest.
            var x = (event.clientX - item.getBoundingClientRect().left - (w / 2)) * (w > h ? (h / w) : 1);
            var y = (event.clientY - item.getBoundingClientRect().top - (h / 2)) * (h > w ? (w / h) : 1);
          
            // Calculate the angle to the center the pointer entered/exited
            // and convert to clockwise format (top/right/bottom/left = 0/1/2/3).
            var d = Math.round(Math.atan2(y, x) / 1.57079633 + 5) % 4;
          
            return directions[d];
          };
          
          document.addEventListener('DOMContentLoaded', function (event) {
            // Loop over items (in a IE11 compatible way).
            var items = document.getElementsByClassName('navbar-link');
            for (var i = 0; i < items.length; i++) {
          
              // Loop over the registered event types.
              ['mouseenter', 'mouseleave'].forEach(function (eventname) {
                items[i].addEventListener(eventname, function (event) {
          
                  // Retrieve the direction of the enter/leave event.
                  var dir = getHoverDirection(event);
          
                  // Reset classes.
                  // event.currentTarget.className = 'item hover';
                  // > If support for IE11 is not needed.
                  // event.currentTarget.classList.remove('mouseenter', 'mouseleave', 'top', 'right', 'bottom', 'left');
                  // > If support for IE11 is needed.
                  event.currentTarget.classList.remove('mouseenter');
                  event.currentTarget.classList.remove('mouseleave');
                  event.currentTarget.classList.remove('navTop');
                  event.currentTarget.classList.remove('navRight');
                  event.currentTarget.classList.remove('navBottom');
                  event.currentTarget.classList.remove('navLeft');
          
                  // Add the event and direction classes.
                  // > If support for IE11 is not needed.
                  // event.currentTarget.classList.add(event.type, dir);
                  // > If support for IE11 is needed.
                  event.currentTarget.className += ' ' + event.type + ' ' + dir;
          
                }, false);
              });
            }
          });
        
    </script>
</head>
<header>
    <nav>
        <!--<img src="../static/img/personaluniverselogo.png">-->
        <a href="{{ url_for('home') }}" style="text-decoration: none; color: rgba(0, 0, 0, 0.849)">
            <h1>MDG</h1>
        </a>

        <ul class="link-container">
        {% for link in nav %}
            {% if request.path == link.url %}
                <li class="nav-item">
                    <p class="active_page" href="" style="cursor: pointer;"">{{ link.name }}</p>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="navbar-link" href="{{ link.url }}">{{ link.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
        
        {% if current_user.is_authenticated %}
            {% if request.path == url_for('profile', username=current_user.username) %}
                <li class="nav-item">
                    <p class="navbar-btn active_btn" href="{{ url_for('profile', username=current_user.username) }}" style="cursor: pointer;">Your Garage</p>
            
            {% else %}
                <li class="nav-item">
                    <a class="navbar-btn" href="{{ url_for('profile', username=current_user.username) }}">Your Garage</a>
            
            {% endif %}
                
                    <a class="navbar-btn" href='/logout'><i class="fas fa-sign-out-alt"></i></a>
                </li>
        {% else %}
            <li class="nav-item">
                <a class="navbar-btn loginBtn" href="{{ url_for('auth_bp.login') }}">Log In</a>
            </li>
            <li class="nav-item">
                <a class="navbar-btn signupBtn" href="{{ url_for('auth_bp.signup') }}">Get Started</a>
            </li>
        {% endif %}
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>