{% extends 'layout.html' %}

{% block page_css %}
    <link href="{{ url_for('static', filename='css/profilepage.css') }}" rel="stylesheet">
{% endblock %}

{% block page_script %}
<script src="https://cdn.jsdelivr.net/npm/@walletconnect/qrcode-modal@1.7.1/dist/cjs/index.min.js"></script>
<script type="module" src="{{ url_for('static', filename='scripts/profilepage.js') }}""></script>
{% endblock %}

{% block pageContent %}
    <div class="profile-info-wrapper">
        <div class="profile-info">
            {% if canEdit == True %}
            <div class="picture-container">
                <img id="openEditFormPicture" class="profile-img" src="{{ userProfilePicture }}">
                <div class="overlay-wrapper">
                    <div id="textBtn"class="overlay-text">click to edit</div>
                </div>
            </div>
            {% else %}
                <img draggable="false" class = "profile-img" src="{{ userProfilePicture }}">
            {% endif %}

            <div class="profile-info-body">
                <h2 class="profile-username">
                    @{{ targetUser.username }}
                    {% if canEdit == True %}
                        <a id="openEditFormIcon"><i class="fas fa-user-edit"></i></a>
                        <button id="wallet-connect-btn">Connect Wallet</button>
                    {% endif %}
                </h2>
                <p class="profile-name">{{ targetUser.first }} {{ targetUser.last }}</p>
                {% if targetUser.bio != None %}
                    <p class="profile-bio">{{ targetUser.bio }}</p>
                {% else %}
                {% endif %}
            </div>
        </div>
    </div>

    {% if canEdit == True %}
    <!--EDIT PROFILE MODAL-->
    <div id="editModal" class="modal">

        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="form-wrapper">
                <form method = "POST" action="{{ url_for('profile', username=current_user.username) }}" class="signup-form" enctype="multipart/form-data">                
                    {{ form.csrf_token }}
                    <fieldset class="picture">
                        {{ form.picture.label }}
                        {{ form.picture(id="picture-upload") }}
                        {% if form.picture.errors %}
                            <ul class="errors">
                                {% for error in form.picture.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </fieldset>
                    <fieldset class="first">
                        {{ form.first.label }}
                        {{ form.first }}
                        {% if form.first.errors %}
                        <ul class="errors">
                            {% for error in form.first.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>
                    <fieldset class="last">
                        {{ form.last.label }}
                        {{ form.last }}
                        {% if form.last.errors %}
                        <ul class="errors">
                            {% for error in form.last.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>
                    
                    <fieldset class="username">
                        {{ form.username.label }}
                        {{ form.username }}
                        {% if form.username.errors %}
                        <ul class="errors">
                            {% for error in form.username.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>
                    <fieldset class="email">
                        {{ form.email.label }}
                        {{ form.email }}
                        {% if form.email.errors %}
                        <ul class="errors">
                            {% for error in form.email.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>   
                    <fieldset class="form-field">
                        {{ form.bio.label }}
                        {{ form.bio(rows=5) }}
                        {% if form.bio.errors %}
                        <ul class="errors">
                            {% for error in form.bio.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>         
                    <div class="submit-btn">
                        {{ form.submit }}
                    </div>
                </form>
            </div>
            
        </div>
    </div>
    {% endif %}


    <div class="centered-intro">
        <h1>{{ targetUser.first }}'s Garage</h1>
        <p>It seems {{ targetUser.first }}'s garage is empty...</p>
    </div>
{% endblock %}