{% extends 'layout.html' %}

{% block page_css %}
    <link href="{{ url_for('static', filename='css/profilepage.css') }}" rel="stylesheet">
{% endblock %}

{% block page_script %}
<script src="https://cdn.jsdelivr.net/npm/@walletconnect/browser@1.0.0-beta.46/lib/index.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@walletconnect/qrcode-modal@1.0.0-beta.46/lib/index.min.js"></script>
<script type="module">
</script>
<script type="module" src="{{ url_for('static', filename='scripts/profilepage.js') }}""></script>
{% endblock %}

{% block pageContent %}
    <div class="profile-info-wrapper">
        <div class="profile-info">
            {% if canEdit == True %}
            <div class="picture-container">
                <img id="openEditFormPicture" class="profile-img" src="{{ userProfilePicture }}">
                <div class="overlay-wrapper">
                    <div id="textBtn"class="overlay-text">click to edit</div>
                </div>
            </div>
            {% else %}
                <img draggable="false" class = "profile-img" src="{{ userProfilePicture }}">
            {% endif %}

            <div class="profile-info-body">
                <h2 class="profile-username">
                    @{{ targetUser.username }}
                    {% if canEdit == True %}
                        <a id="openEditFormIcon"><i class="fas fa-user-edit"></i></a>
                        <button id="wallet-connect-btn">Connect Wallet <i class="fas fa-wallet"></i></button>
                    {% endif %}
                </h2>
                <p class="profile-name">{{ targetUser.first }} {{ targetUser.last }}</p>
                {% if targetUser.bio != None %}
                    <p class="profile-bio">{{ targetUser.bio }}</p>
                {% else %}
                {% endif %}
            </div>
        </div>
    </div>

    {% if canEdit == True %}
    <!--EDIT PROFILE MODAL-->
    <div id="editModal" class="modal">

        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="form-wrapper">
                <form method = "POST" action="{{ url_for('profile', username=current_user.username) }}" class="signup-form" enctype="multipart/form-data">                
                    {{ form.csrf_token }}
                    <fieldset class="picture">
                        {{ form.picture.label }}
                        {{ form.picture(id="picture-upload") }}
                        {% if form.picture.errors %}
                            <ul class="errors">
                                {% for error in form.picture.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </fieldset>
                    <fieldset class="first">
                        {{ form.first.label }}
                        {{ form.first }}
                        {% if form.first.errors %}
                        <ul class="errors">
                            {% for error in form.first.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>
                    <fieldset class="last">
                        {{ form.last.label }}
                        {{ form.last }}
                        {% if form.last.errors %}
                        <ul class="errors">
                            {% for error in form.last.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>
                    
                    <fieldset class="username">
                        {{ form.username.label }}
                        {{ form.username }}
                        {% if form.username.errors %}
                        <ul class="errors">
                            {% for error in form.username.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>
                    <fieldset class="email">
                        {{ form.email.label }}
                        {{ form.email }}
                        {% if form.email.errors %}
                        <ul class="errors">
                            {% for error in form.email.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>   
                    <fieldset class="form-field">
                        {{ form.bio.label }}
                        {{ form.bio(rows=5) }}
                        {% if form.bio.errors %}
                        <ul class="errors">
                            {% for error in form.bio.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>         
                    <div class="submit-btn">
                        {{ form.submit }}
                    </div>
                </form>
            </div>
            
        </div>
    </div>
    {% endif %}

    <div class="centered-intro">
        <h1>{{ targetUser.first }}'s Garage</h1>
        {% if not targetUser.assets %}
        <div class="centered-intro">
            <p>It seems {{ targetUser.first }}'s garage is empty...</p>
        </div>
        {% endif %}

    </div>
    <div class="asset-card-wrapper">
        <div class="assets">
            {% if not targetUser.assets %}

            {% else %}
                {% for asset in targetUser.assets %}
                    {% if canEdit %}
                        {% if asset.show_on_profile == True %}
                            <div class="card-wrapper">
                        {% else %}
                            <div class="card-wrapper darken-card">
                        {% endif %}
                            <div class="asset-item card">
                                <div class="front">
                                    <div class="card-header">
                                        <h2>{{asset.name}}</h2>
                                        <div class="header-selecters">
                                            <label class="switch" id={{ asset.id }}>
                                                <!--<form method = "POST" action="{{ url_for('profile', username=current_user.username) }}" enctype="multipart/form-data"> -->              
                                                {% if asset.show_on_profile == True %}   
                                                    {{ showForm.checked(class='show-checkbox', id=asset.id, checked='true') }}
                                                {% else %}
                                                    {{ showForm.checked(class='show-checkbox', id=asset.id) }}
                                                {% endif %}
        
                                                <span class="slider"></span>
                                            </label>
                                            <i id="asset-trash"class="fas fa-trash-alt asset-trash"></i>
                                                <div class="modal" id="trash-modal">
                                                    <div id="trash-modal-content" class="modal-content">
                                                        <span class="close">&times;</span>
                                                        <div class="trash-confirm">
                                                            <p>Are you sure you want to detete this asset?</p>
                                                            <div class="trash-confirm-buttons">
                                                                <button class="cancelDelete">Cancel</button>
                                                                <button class="confirmDelete" id={{ asset.id }}>Delete</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <img src="../static/img/cartoon-car.png">
                                    <div class="card-info">
                                        <p>Pushing p</p>
                                        <p id="date">{{asset.date_created}}<p>
                                    </div>
                                </div>
                                <div class="back">
                                    <h3 style="text-align: center;">Like what you see?</h3>
                                    <ul>
                                        <li>Owner: ____</li>
                                        <li>Created: ____</li>
                                        <li>Posted: ____</li>
                                    </ul>
                                    <a href="{{ url_for('asset_page', assetId=asset.id) }}">
                                        <button class="slide">&nbsp;</button>
                                    </a>
                                </div> 
                            </div>
                        </div>
                        
                    {% elif canEdit == False and asset.show_on_profile == True %}
                        <div class="card-wrapper">
                            <div class="asset-item card">
                                <div class="front">
                                    <div class="card-header" style="justify-content: center;">
                                        <h2>{{asset.name}}</h2>
                                    </div>
                                    <img src="../static/img/cartoon-car.png">
                                    <div class="card-info">
                                        <p>Pushing p</p>
                                        <p id="date">{{asset.date_created}}<p>
                                    </div>
                                </div>
                                <div class="back">
                                    <h3 style="text-align: center;">Like what you see?</h3>
                                    <ul>
                                        <li>Owner: ____</li>
                                        <li>Created: ____</li>
                                        <li>Posted: ____</li>
                                    </ul>
                                    <a href="{{ url_for('asset_page', assetId=asset.id) }}">
                                        <button class="slide">&nbsp;</button>
                                    </a>
                                </div>  
                            </div>
                        </div>
                    {% else %} 

                    {% endif %}
                    
                {% endfor %}   
            {% endif %}
            {% if canEdit %}
                    <div class="asset-item add-item">
                        <!--<form method = "POST" action="{{ url_for('profile', username=current_user.username) }}" enctype="multipart/form-data">-->
                            <!--{{ assetForm.csrf_token }}
                            {{ assetForm.submit(class="add-item-btn") }}-->
                            <i class="fas fa-plus fa-8x"></i>
                    </div>
                {% endif %}
            </div>
        </div>

{% endblock %}


