{% extends 'layout.html' %}

{% block page_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block page_script %} 
<script>
    $(function() {
        $(".datepicker").datepicker({
            dateFormat:'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            minDate: '-100y',
            maxDate: '-17y',
            yearRange:'-100:-17',
            showAnim: 'fade'

        });
    })
</script>
{% endblock %}
{% block pageContent %}
<div class="centered-intro">
    <h1>{{title}}</h1>
</div>

<div class="form-wrapper">
    <form method = "POST" action="{{ url_for('auth_bp.signup') }}" class="signup-form">
        <div class="login-signup-split">
            <a class="tab link tab-left" href="{{ url_for('auth_bp.login') }}">Log In</a>
            <div class="tab active-right tab-right">Sign Up</div>
        </div>
    
        {{ form.csrf_token }}
        <div class='split-firstlast'>
            <fieldset class="first">
                {{ form.first.label }}
                {{ form.first }}
                {% if form.first.errors %}
                <ul class="errors">
                    {% for error in form.first.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            <fieldset class="last">
                {{ form.last.label }}
                {{ form.last }}
                {% if form.last.errors %}
                <ul class="errors">
                    {% for error in form.last.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
        </div>
        <fieldset class="username">
            {{ form.username.label }}
            {{ form.username }}
            {% if form.username.errors %}
            <ul class="errors">
                {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </fieldset>
        <fieldset class="email">
            {{ form.email.label }}
            {{ form.email }}
            {% if form.email.errors %}
            <ul class="errors">
                {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </fieldset>
        <fieldset class="password">
            {{ form.password.label }}
            {{ form.password }}
            {% if form.password.errors %}
            <ul class="errors">
                {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </fieldset>
        <fieldset class="confirmPassword">
            {{ form.confirmPassword.label }}
            {{ form.confirmPassword }}
            {% if form.confirmPassword.errors %}
            <ul class="errors">
                {% for error in form.confirmPassword.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </fieldset>
        <fieldset class="dateOfBirth">
            {{ form.dateOfBirth.label }}
            {{ form.dateOfBirth(class='datepicker', autocomplete="off") }}
            {{ form.hidden_tag() }}
            {% if form.dateOfBirth.errors %}
            <ul class="errors">
                {% for error in form.dateOfBirth.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </fieldset>

        <div class="submit-btn">
            {{ form.submit }}
        </div>
    </form>
    <div class="alternative-option">
            <span>Already have an account?</span>
            <a href="{{ url_for('auth_bp.login') }}">Log in.</a>
    </div>
</div>

{% endblock %}